@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; list-style:none;}
img{ border:0;}
a{ color:#444444; text-decoration:none;}
a:hover{ color:#000;text-decoration:none;}
li{ list-style:none; float:left;}
textarea{ resize:none;  height:auto; width:90px; vertical-align:top;}
select{ height:24px;}
input{ outline:none; }
/*公共样式*/

/*中奖结果展示*/    
.page{ width:1024px; height:768px; background:url(../img/bg-6.png) no-repeat center center; margin: 0px auto 0; /*position:relative*/
}
.center{ width:800px; height:375px; margin: 0px auto 0px; overflow-y:scroll; /*position:absolute; left:11%; top:43%*/}
ul{ overflow:hidden}
li{ margin-left:18px; margin-bottom:18px; font-size:16px; width:175px; line-height: 60px; height: 60px;}
li img{ border-radius:76px;}
li span{ display:inline-block; margin-left:10px; width:100px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; }

/*谢谢参与*/    
.main-bg{ width:1024px; height:768px; background:url(../img/bg-1.png) no-repeat center center; margin:100px auto 0; }

/*一等奖*/
.main-1 li{ width:300px; text-align:center; margin-left:76px;}
.main-1 .center{ width:800px; height:375px; overflow-y:visible}

/*二等奖*/
.main-2{  background:url(../img/bg-7.png) no-repeat center center; }

/*三等奖*/
.main-3{  background:url(../img/bg-8.png) no-repeat center center; }

/*特等奖*/
.main-0{  background:url(../img/bg-5.png) no-repeat center center; }
.main-0 .center{ overflow-y:visible}
.main-0 li{ width:800px; font-size:22px; text-align:center; margin:80px 0 0;height: 250px;}
.main-0 .wax{ margin-top:20px;}
.main-0 li img { border-radius:76px; width: 105px;}
.main-0 li span{ display:block; width:100%; text-align: center; overflow:hidden}