@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; list-style:none;}
img{ border:0;}
a{ color:#444444; text-decoration:none;}
a:hover{ color:#000;text-decoration:none;}
li{ list-style:none; float:left;}
body{ font-family:"微软雅黑"; font-size:12px; background:#f3f3f4;color:#333; position:relative; overflow:-Scroll;overflow-y:hidden}
textarea{ resize:none;  height:auto; width:90px; vertical-align:top;}
select{ height:24px;}
input{ outline:none; }
/*公共样式*/

/*中奖结果展示*/    
.page{ width:3120px; height:1248px; background:url(../img/bg-01.jpg) no-repeat center center; margin:0 auto; position:relative;
}
.center{ width:2025px; height:575px;overflow-y:scroll; position:absolute; left:17%; top:48%;}
ul{ overflow:hidden}
li{ margin-left:142px; margin-bottom:40px; font-size:30px; width:255px; height:100px; line-height:100px; }
li img{ border-radius:100%; width:106px;}
li span{ display:inline-block; margin-left:30px; width:100px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; }


/*一等奖*/
.main-1 li{ width:590px; height:136px;text-align:center; margin-left:76px; line-height:140px; margin-top:20px;}
.main-1 li img{ border-radius:100%; width:136px;}
/*.main-1 .center{ width:1572px; height:375px; overflow-y:visible}*/


/*二等奖*/
.main-2{  background:url(../img/bg-02.jpg) no-repeat center center; }

/*三等奖*/
.main-3{  background:url(../img/bg-03.jpg) no-repeat center center; }

/*特等奖*/
.main-0{  background:url(../img/bg.jpg) no-repeat center center; }
.main-0 .center{ overflow-y:visible}
.main-0 li{ width:100%; font-size:36px; height:320px; text-align:center; margin:10px 0 0}
/*.main-0 .wax{ margin-top:20px;}*/
.main-0 li img { border-radius:100%; width:205px;}
.main-0 li span{ display:block; width:100%; text-align: center; overflow:hidden}

/*关闭按钮*/
.close{ position:absolute; top:486px; left:2498px;}


























